<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />

<title> Bro Did You Hear?</title>

<LINK HREF="/static/css/main.css" REL="stylesheet">
</head>
<body>
	<header>

		<img src="/static/images/logo.png" alt="Bro Did You Hear?">
	</header> <!-- end header -->
	
	<div id="content" class="container_12">
	
		<section id="menu">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/">About</a></li>

					<li><a href="http://www.twitter.com/#!/brodidyouhear">Follow us on twitter <img src="/static/images/twitter.png" alt="twitter"></a></li>
				</ul>
			</nav>
		</section> <!-- end menu -->
		
		<section id="comic"> 
		
			<div id="about">
			<h1>Get fun everyday with a comic!</h1>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever 
			since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five 
			centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release 
			of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions 
			of Lorem Ipsum.</p>
			<div id="about_left">
			<h2>Meet the team!</h2>
			<ul>
				<li><span class="author">Mahdi Yusuf</span> - developer & talented cartoonist</li>
				<li><span class="author">Valentin Menardie</span> - designer & front-end developer</li>
			</ul>
			</div>
			<div id="about_right">
			<h2>Contact us!</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			</div>
			<div class="clear"></div>
			</div> <!-- end about-->

			
			<div id="comic_banner">
				
				<div id="banner_left" class="grid_6">
					<h2>Comic of the day</h2>
				</div> <!-- banner_left -->

				
				<div id="banner_right" class="grid_6">
				<a href="http://twitter.com/share?url=http%3A//brodidyouhear.com/comic/3&text=Bro%20Did%20You%20Hear%3F%20Android%20Ice%20Cream%20//cc%20%40brodidyouhear" target="_blank">
					<p><img src="/static/images/tw.png" alt="Twitter"></a>



					<a href="https://www.facebook.com/sharer.php?u=http%3A//brodidyouhear.com/comic/3&t=Android%20Ice%20Cream">
					<img src="/static/images/fb.png" alt="Facebook"> </a>

					<!-- <img src="/static/images/gp.png" alt="Google Plus"></p> -->

					<g:plusone href="http://www.brodidyouhear.com"></g:plusone>
				</div> <!-- banner_right -->
				
				<div class="clear"></div>
				
			</div> <!-- comic_banner -->
		
		</section> <!-- end comic -->
		
		
	</div> <!-- end content -->
	
	<footer>

	
		<div id="footer_left">
		<p><span class="title">Bro, Did You Hear?</span> Daily news in comic form for them bros out there! </p>
		</div> <!-- end footer_left -->
		
		<div id="footer_right">
		<p>Got an idea for a comic, shoot us a line! If its good we will steal it!</p>

		</div><!-- end footer_right -->

		<div class="clear"></div>
	
	</footer> <!-- end footer -->
		<center><p class="copyright">Designed by <a href="http://twitter.com/vmnrd">@vmnrd</a></center>
	
</body>
</html>