{% extends "about_base.html" %}

{%block title%} Bro Did You Hear? | About Us {%endblock title%}



	{% block about %}
			<div id="about">
			<h1>Bro Did You Hear? </h1>
			<p>Simple comic idea, for all the news you hear everyday from multiple sources, Bro Did You Hear about the new X? Bro Did You Hear X was released? The comic will keep you laughing and in the know!</p>
			<div id="about_left">
			<h2>Meet the team!</h2>
			<ul>
				<li><span class="author">Mahdi Yusuf</span> -  developer &  talented cartoonist</li>
				<li><span class="author">Valentin Menardie</span> - designer & front-end developer</li>
			</ul>
			</div>
			<div id="about_right">
			<h2>Contact us!</h2>
			<p>We can be reached on twitter here <a href="https://twitter.com/brodidyouhear">@brodidyouhear</a></p>
			</div>
			<div class="clear"></div>
			</div> <!-- end about-->
	{% endblock about %}