<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />

<title>{% block title %}Bro Did You Hear?{% endblock title %}</title>

<!--- lloogger tracking script -->
<script type="text/javascript">
lloogg_clientid = "1300230dddb8b85";
</script>
<script type="text/javascript" src="http://lloogg.com/l.js?c=1300230dddb8b85">
</script>
<!--- end lloogger tracking script -->


<!-- Google Plus -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<!-- end Google Plus -->


<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16383952-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- end Google Analytics -->


<LINK HREF="{{STATIC_URL}}css/main.css" REL="stylesheet">
</head>
<body>
	<header>
		<img src="{{STATIC_URL}}images/logo.png" alt="Bro Did You Hear?">
	</header> <!-- end header -->
	
	<div id="content" class="container_12">
	
		<section id="menu">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="http://www.twitter.com/#!/brodidyouhear">Follow us on twitter <img src="{{STATIC_URL}}images/twitter.png" alt="twitter"></a></li>
				</ul>
			</nav>
		</section> <!-- end menu -->
		
		<section id="comic"> 
		{% block comic %}
		
			<div id="prev">
				<h3><a href="/comic/{{pre_pk}}">Prev</a></h3>
			</div> <!-- end prev -->
			
			<div id="caption">
			{%block caption%}
			<img src="" alt="{{comic.title}}">
			{%endblock caption%}
			</div> <!-- end caption -->
			
			<div id="next">
				<h3><a href="/comic/{{next_pk}}">Next</a></h3>
			</div> <!-- end next -->
			
			<div class="clear"></div>
			
			<div id="random">
				<h2><a href="/comic/{{rand_pk}}">Random</a></h2>
			</div> <!-- end random -->
			
			<div id="comic_banner">
				
				<div id="banner_left" class="grid_6">
					<h2>Comic of the day</h2>
				</div> <!-- banner_left -->
				
				<div id="banner_right" class="grid_6">
				<a href="http://twitter.com/share?url={{tweet_url}}&text={{tweet}}" target="_blank">
					<p><img src="{{STATIC_URL}}images/tw.png" alt="Twitter"></a>



					<a href="https://www.facebook.com/sharer.php?u={{tweet_url}}&t={{comic_title_encode}}">
					<img src="{{STATIC_URL}}images/fb.png" alt="Facebook"> </a>

					<!-- <img src="{{STATIC_URL}}images/gp.png" alt="Google Plus"></p> -->
					<g:plusone href="http://www.brodidyouhear.com"></g:plusone>
				</div> <!-- banner_right -->
				
				<div class="clear"></div>
				
			</div> <!-- comic_banner -->
		{% endblock comic %}
		</section> <!-- end comic -->
		
		
	</div> <!-- end content -->
	
	<footer>
	{% block footer %}
		<div id="footer_left">
		<p><span class="title">Bro, Did You Hear?</span> Daily news in comic form for them bros out there! </p>
		</div> <!-- end footer_left -->
		
		<div id="footer_right">
		<p>Got an idea for a comic, shoot us a line! If its good we will steal it!</p>

		</div><!-- end footer_right -->
		<div class="clear"></div>
	{%endblock footer%}
	</footer> <!-- end footer -->
		<center><p class="copyright">Designed by <a href="http://twitter.com/vmnrd">@vmnrd</a></center>
	
</body>
</html>